html, body {
    width: 100%;
    height: 100%;
    overflow-x: auto; /* 가로 스크롤 추가 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

.wrap {
    background-color: #ccc;
    width: 100%;
}

.content {
    margin-top: 87px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/with_go/src/images/review_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 250px;
    opacity: 0;
    animation: slideUp 1.2s forwards;
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.content h3 {
    color: white;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    min-height: 600px;
}
.section-text {
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 24px;
}
.section-text  > h3 {
    margin-bottom: 10px;
    color: rgb(0,102,204);
}
.section-text > p {
    font-size: 15px;
}
.notice-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.notice-item {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notice-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}
.notice-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #373737;
}
.notice-item p {
    font-size: 14px;
    color: #373737;
}
